##
## SPDX-FileCopyrightText: 2020 Splunk, Inc. <sales@splunk.com>
## SPDX-License-Identifier: LicenseRef-Splunk-1-2020
##

lovely-pytest-docker
reuse
pytest
https://download.splunk.com/misc/packaging-toolkit/splunk-packaging-toolkit-1.0.1.tar.gz
pytest-xdist
pytest-ordering
pytest-splunk-addon==1.4.0
pytest-expect
pytest-splunk-addon-ui-smartx==1.1.0
pytest-rerunfailures
mock==3.0.5
requests
u-msgpack-python==2.5.0
six==1.12.0
coverage==4.0.3
splunk-sdk
future
-r requirements_addon_specific.txt