##
## SPDX-FileCopyrightText: 2020 Splunk, Inc. <sales@splunk.com>
## SPDX-License-Identifier: LicenseRef-Splunk-1-2020
##

https://712-287085785-gh.circle-artifacts.com/0/dist/splunk_add_on_ucc_framework-4.1.12.post5.dev0%2B99f91870.tar.gz
